name: GitHub action tests

on:
  push:
  workflow_dispatch:

jobs:
  ort:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tsteenbe/node-docker:latest # Or use catthehacker/ubuntu:act-latest
    # container:
    #   image: ghcr.io/alex3305/forgejo-runner-dind:11.3.1-dind-28
    steps:
      - name: Make project dir
        run: |
          cd $GITHUB_WORSPACE
          touch test-workspace.txt
          ls -all
          cd $HOME
          touch test-home.txt
          ls -all
      # - name: Checkout project
      #   uses: actions/checkout@v5
      - name: Show GITHUB_WORSPACE workspace
        shell: bash
        run: |
          echo -e "\e[1;33m Show contents of GITHUB_WORSPACE... "
          echo $(whoami)
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          ls -all $GITHUB_WORKSPACE
      # - name: Ensure Git is installed
      #   run: |
      #     if ! command -v git &> /dev/null; then
      #       # Ensure sudo is installed
      #       if ! command -v sudo &> /dev/null; then
      #           echo "Sudo is not installed. Installing now..."
      #           apt-get update
      #           apt-get install -y sudo
      #       fi

      #       echo "Git not found, installing..."
      #       sudo apt-get update
      #       sudo apt-get install -y git
      #     else
      #       echo "Git is already installed."
      #     fi
      # - name: Show Git version
      #   shell: bash
      #   run: |
      #     echo -e "\e[1;33m Show version of Git... "
      #     git -v
      # - name: Ensure Docker is installed
      #   run: |
      #     if [[ "$(lsb_release -is)" != "Ubuntu" ]]; then
      #       if ! command -v docker &> /dev/null
      #       then
      #           # Ensure sudo is installed
      #           if ! command -v sudo &> /dev/null; then
      #               echo "Sudo is not installed. Installing now..."
      #               apt-get update
      #               apt-get install -y sudo
      #           fi

      #           echo "Docker is not installed. Installing now..."
      #           sudo apt-get update
      #           sudo apt-get install -y apt-transport-https ca-certificates curl software-properties-common
      #           curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      #           sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
      #           sudo apt-get update
      #           sudo apt-get install -y docker-ce docker-ce-cli containerd.io
      #       else
      #           echo "Docker is already installed."
      #       fi
      #     fi
      - name: Show Docker version
        shell: bash
        run: |
          echo -e "\e[1;33m Show version of Docker... "
          docker --version
      # - name: Remove all cached Docker images
      #   shell: bash
      #   run: |
      #     docker image prune -af
      - name: Run ORT docker and write to file
        shell: bash
        run: |
          echo -e "\e[1;33m Debugging why Docker is not properly mounting any dir... "
          touch $HOME/before-docker-created-file.txt
          docker run \
          --entrypoint "/bin/bash" \
          --mount type=bind,source=${HOME},target=/home/ort,bind-propagation=rshared \
          -u $(id -u):$(id -g) \
          ghcr.io/oss-review-toolkit/ort-minimal:latest \
          -c "touch /home/ort/created-from-ort-docker-file.txt && ls -all /home/ort/"
          echo -e "\e[1;33m Printing contents of HOME... "
          ls -all $HOME
      # - name: Run Forgejo Action for ORT
      #   uses: tsteenbe/ort-ci-forgejo-action@3d24edeb62890b3958980782ca1b0f0cd31983e7
      #   with:
      #     ort-config-repository: https://codefloe.com/tsteenbe/ort-config.git
